@import "../../style/variables";

.panel {
  display: flex;
  align-items: center;
  position: relative;

  .bgPanel {
    position: absolute;
    background: #414144;
    height: 28px;
    border-radius: 6px;
  }
}

.panel img {
  margin-left: 10px;
  z-index: 1000;
  width: 16px;
  height: 16px;
  cursor: pointer;

  transition: all ease-in 0.1s;

  &:hover {
    scale: 1.2;
  }
}

.panel img:nth-child(1) {
  margin-left: 0;
}

.bgPanel {
  left: -5px;
}
